:root {
    --bg-afeksi-theme: #5a74fd;
    --color-afeksi-custom: #374dfa;
    --bg-final-footer: #4959db;
}

* {
    margin: 0;
    padding: 0;
}

.color-custom {
    color: var(--color-afeksi-custom);
}



/* PRIVACY SECTION */
.container .nav .nav-item .nav-link {
    color: black;
}

.accordion .accordion-item-custom {
    margin: 2% 0;
    border: 2px solid lightgrey;
}

.accordion .accordion-item-custom:hover {
    border: 2px solid var(--bg-afeksi-theme);
}

.accordion .accordion-item-custom .accordion-body {
    margin-top: -20px;
    padding-bottom: 2%;
    font-size: 20px;
    width: 93%;
    margin-left: 30px;
}

.accordion-button-custom {
    border: 0;
    background-color: transparent;
    padding: 2% 1.7%;
    width: 100%;
    text-align: start;
    position: relative;
    display: flex;
    margin-left: 30px;
}

.accordion-button-custom:hover {
    color: var(--bg-afeksi-theme);
}

.accordion-button-custom h1 {
    font-weight: bold;
    font-size: 26.787px;
    width: 80%;
}

.arrow[aria-expanded="true"]::after {
    font-family: "Bootstrap-icons";
    content: "\F2EA";
    position: absolute;
    right: 80px;
    font-weight: bold;
}

.arrow[aria-expanded="false"]::after {
    font-family: "Bootstrap-icons";
    content: "\F64D";
    position: absolute;
    right: 80px;
    font-weight: bold;
}

/* footer */

.bg-footer-1 {
    background: var(--bg-afeksi-theme);
}
.bg-footer-2 {
    background: var(--bg-final-footer);
}

.mx-n1 {
    margin-left: -2.3rem !important;
}
.justify-text {
    text-align: justify;
}


/* HERO VERSION 2 */
.hero-2 {
    background-color: var(--bg-afeksi-theme);
      background-image: url('/assets/img/kebijakan-privasi/hero-layer.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    color: white;
}
