#lupa-password{
    height: 100vh;
    background-image: url('./assets/img/lupa-password-background-2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.btn {
    background-color: #233dff !important;
    color: white !important;
}
.wrapper{
    width: 450px;
}
.wrapper p{
    text-align: justify;
}
.input-container label{
    text-align: start;
    font-weight: bold;
    display: block;
}
.input-container input{
    width: 100%;
    padding: 8px 10px;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,.5);
}
.input-container button{
    font-weight: bold;
    width: 100%;
    border-radius: 8px;
}
.input-container a{
    text-decoration: none;
    color: #9AA2B1;
}