#rekap-transaksi{
  height: 100vh;
}
.bg{
    height: 300px;
    background-color: #5A74FD;
    position: relative;
}
.title{
    color: #FBDD41;
    font-size: 32px;
}
.dashboard{
    height: 650px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 100px;
    background-color: #fff;
}
.rekap-transaksi{        
    width: 80%;
    margin-top: 100px;
}
.utils-wrapper .input-group span{
    background-color: #fff !important;
    border-right: 0 !important;
    width: 50px !important;
}
.btn{
    height: 37px;
    font-size: .8rem;
}
.temukan-btn{
    background-color: #233DFF;
}
i.bi{
    color: #233DFF;
}
.utils-wrapper{
    background-color: #fff;
    height: 85px;
    align-items: center;
    border-radius: 12px;
    margin-top: 40px;
    filter: drop-shadow(0 4px 25px rgba(0,0,0,.1));
}
.transaksi-wrapper{
    background-color: #fff;
    filter: drop-shadow(0 4px 4px rgba(0,0,0,.1));
}
i.bi-cart-fill{
    color: black;
    font-size: 1.5rem;
    margin-right: 1rem;
}
.head{
    font-size: .8rem;
    border-bottom: 2zpx dashed black;
    gap: 7rem;
}
.status{
    padding: 1rem;
    margin-left: auto;
    height: 37px;
    line-height: 7px;
    border-radius: 8px;
}
.status.menunggu{
    background-color: rgba(251, 221, 65, .1);        
    color: #BBA327;
}
.status.selesai{
    color: #27AE60;
    background-color: rgba(39, 174, 96, .1);
}
.status.gagal{
    color: #D60F27;
    background-color: rgba(214, 15, 39, .1);
}
.info{
    border-right: 1px solid black;
}
.info-desc{
    line-height: 3px;
}
.body{
    border-top: 2px dashed black;
}
.product-title{
    font-size: 18px;
}
.qty{
    font-size: 12px;
}
.harga{
    line-height: 5px;
}
.detail-button, .lanjut-button, .admin-button, .batal-button{
    float: right;
    height: 46px;
}
.lanjut-button{
    background-color: #233DFF;
}
.batal-button{
    background-color: #D60F27;
}
.admin-button{
    background-color: #A6A6A6;
}
